html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1E2C;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}

.message {
    display: none;
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: top 0.5s;
    border-radius: 5px;
    margin-top: 5px;
}

.container {
    text-align: center;
}

.github-link {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.github-link:hover {
    color: #ccc;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.block {
    width: 30%;
    height: 30%;
    margin: 1%;
    background-color: #0077be;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.block.clicked {
    cursor: default;
}

.block.green {
    background-color: #28965A;
}

.block.red {
    background-color: #DD2D4A;
}

.score-container,
.play-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0077be;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.score {
    color: #fff;
}

.play-btn {
    cursor: pointer;
}

.play-again-btn {
    background-color: #DD2D4A;
}

.play-btn:hover {
    background-color: #005fa3;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 2px;
    animation: colorChange 1.5s infinite;
}

.circle:nth-child(2) {
    animation-delay: 0.5s;
}

.circle:nth-child(3) {
    animation-delay: 1s;
}

@keyframes colorChange {
    0% {
        background-color: #ccc;
    }

    50% {
        background-color: #999;
    }

    100% {
        background-color: #ccc;
    }
}