html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1E2C;
    font-family: monospace;
}

.container {
    text-align: center;
}

.github-link {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.github-link:hover {
    color: #ccc;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.block {
    width: 30%;
    height: 30%;
    margin: 1%;
    background-color: #0077be;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.block.clicked {
    cursor: default;
}

.block.green {
    background-color: #28965A;
}

.block.red {
    background-color: #DD2D4A;
}

.status-container,
.play-btn,
.score-container {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0077be;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.score {
    font-weight: bold;
    color: #fff;
}

.play-btn {
    cursor: pointer;
}

.play-again-btn {
    background-color: #DD2D4A;
}

.play-btn:hover {
    background-color: #005fa3;
}

.message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.message-show {
    opacity: 1;
}

.message-hide {
    opacity: 0;
}